#Timothy Davis s3588689
# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Executables
*.exe
*.out
*.app
arduino_mpu6050